body > div[role="container"], body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

div[role="container"] {
  background-color: #2f4050;
  color: white; }
  div[role="container"] > * {
    float: left; }

nav#menu::-webkit-scrollbar {
  width: 0 !important; }

nav#menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-y-style: none;
  overflow-y: -moz-scrollbars-none;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  nav#menu header {
    width: 100%;
    height: auto;
    text-align: center; }
    nav#menu header div {
      width: 120px;
      height: 120px;
      border-radius: 100px;
      margin: 25px auto;
      margin-left: 30px;
      border: 2px solid #19aa8d; }
      nav#menu header div img {
        width: 100%;
        height: 100%;
        border-radius: 100px; }
  nav#menu ul[role="navigation"] {
    width: 100%;
    height: auto;
    margin-bottom: 160px; }
    nav#menu ul[role="navigation"] li {
      width: 100%;
      min-height: 40px;
      line-height: 40px;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px; }
      nav#menu ul[role="navigation"] li:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.2); }
      nav#menu ul[role="navigation"] li a {
        width: 100%;
        height: 100%;
        padding-left: 30px;
        padding-right: 10px;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        overflow-y: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #a7b1c2;
        display: block; }
        nav#menu ul[role="navigation"] li a:hover {
          color: white; }
      nav#menu ul[role="navigation"] li > a:before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.7);
        display: inline-block;
        margin-right: 18px; }
    nav#menu ul[role="navigation"] li.higherNavigation ul {
      width: 100%;
      background: rgba(0, 0, 0, 0.2);
      border-left: 3px solid #19aa8d;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      display: none; }
      nav#menu ul[role="navigation"] li.higherNavigation ul > * {
        padding-left: 15px; }
      nav#menu ul[role="navigation"] li.higherNavigation ul a:before {
        height: 0;
        width: 0;
        border: 0; }
  nav#menu footer {
    position: fixed;
    bottom: 0px;
    height: 150px;
    width: 220px;
    padding-left: 30px;
    background-color: #2f4050;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    nav#menu footer div {
      height: 40px;
      line-height: 40px; }
      nav#menu footer div span {
        display: inline-block;
        padding: 0 15px;
        cursor: pointer;
        margin-left: 20px;
        font-size: 14px; }
        nav#menu footer div span:hover {
          color: rgba(255, 255, 255, 0.6); }

div#workPlace {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 220px; }
  div#workPlace nav {
    width: 100%;
    height: 30px;
    border-top: 2px solid #19aa8d; }
    div#workPlace nav ul {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      div#workPlace nav ul li {
        position: relative;
        height: 100%;
        min-width: 50px;
        max-width: 150px;
        padding: 0 30px 0 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        background-color: #ccc;
        color: black;
        display: inline-block;
        float: left;
        line-height: 32px;
        border-right: 2px solid #BABABA; }
        div#workPlace nav ul li:hover {
          background-color: #f3f3f4;
          cursor: pointer; }
        div#workPlace nav ul li i.close {
          display: block;
          height: 20px;
          width: 20px;
          background: transparent url("../images/icons/close.png") no-repeat -20px 0px;
          position: absolute;
          top: 0px;
          right: 0px;
          cursor: pointer; }
          div#workPlace nav ul li i.close:hover {
            background-position: 0 0; }
      div#workPlace nav ul li.currentNavigation {
        background-color: #f3f3f4; }
  div#workPlace #views {
    width: 100%;
    height: calc(100% - 35px);
    background: #f3f3f4; }
    div#workPlace #views iframe {
      width: 100%;
      height: 100%;
      border: 0;
      outline: none;
      box-shadow: none; }

/*# sourceMappingURL=manageFrame.css.map */
