<!---<div class="manage-gride" >
	<div class="button-dock">
		<button>刷新</button>
		<button>添加</button>
		<button>编辑</button>
		<button>删除</button>
	</div>
	<table class='table'>
		<tr>
			<th class="selectCell"><input class="selectAllRows" type="checkbox" /></th>
			<th class="rowCounterCell">序号</th>
			<th>类型名</th>
			<th>时间</th>
			<th>操作</th>
		</tr>
		<% for(var i=0; i<questiontypes.length; i++) {%>
		   <tr>
		   	<td  class="selectCell"><input class="selectCurrentRow" type="checkbox" /></td>
		   	<td class="rowCounterCell"><%= i %></td>
		   	<td><%= questiontypes[i].name %></td>
		   	<td><%= questiontypes[i].time %></td>
		   	<td><button>删除</button><button>编辑</botton></td>
		   </tr>
		<% } %>
	</table>
</div>--->

